<!-- 
<alps-info-chip label="存款人" [value]="loanVoucher.name"></alps-info-chip>
<alps-info-chip label="存款时间" [value]="loanVoucher.date|date:'yyyy-MM-dd'"></alps-info-chip>
<alps-info-chip label="结算时间" [value]="loanVoucher.interestSettlementDate|date:'yyyy-MM-dd'"></alps-info-chip>
<alps-info-chip label="金额" [value]="loanVoucher.amount"></alps-info-chip>
<alps-info-chip label="利率" [value]="loanVoucher.interestRate"></alps-info-chip>
<alps-info-chip label="已存天数" [value]="loanVoucher.interestDays"></alps-info-chip>
<alps-info-chip label="可结息天数" [value]="loanVoucher.settlableInterestDays"></alps-info-chip>
<alps-info-chip label="可结利息" [value]="loanVoucher.settlableInterest"></alps-info-chip> -->
<!-- 
<button mat-button (click)="confirm()">确认</button> -->
<div>
存款人：{{lender}}</div>
<div>
可借息情况：
<mat-table #table [dataSource]="vouchers" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="lender">
      <mat-header-cell *matHeaderCellDef mat-sort-header>存款人</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.lender}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>存款时间</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.date|date:'yyyy-MM-dd'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interest">
      <mat-header-cell *matHeaderCellDef mat-sort-header>利息</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.interest}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interestSettlable">
      <mat-header-cell *matHeaderCellDef mat-sort-header>可结息</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.interestSettlable?'是':'否'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
  
          </mat-header-cell>
      <mat-cell *matCellDef="let row">        
          <button *ngIf="row.interestSettlable" (click)="settle(row.id)">结算</button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div>
结息情况：
  <mat-table #table [dataSource]="records" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>时间</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.date|date:'yyyy-MM-dd'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>合计</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>类型</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>存款人</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="interestRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>利率</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.interestRate}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="interest">
      <mat-header-cell *matHeaderCellDef mat-sort-header>利息</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.interest}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>{{totalSettleInterest}}</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="isInvalid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>已作废</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.isInvalid?"是":"否"}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> <a mat-stroked-button  routerLink="../printsettleinterest" [queryParams]="{id:lender}">打印</a>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button *ngIf="!row.isInvalid"  (click)="invalidrecord(row.id)">作废</button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="recorddisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: recorddisplayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="recorddisplayedColumns"></mat-footer-row>
  </mat-table>
</div>