<alps-edit-toolbar title="产品SKU编辑" (save)="save()"></alps-edit-toolbar>
<form [formGroup]="productSkuForm">
<alps-info-chip label="产品名" value="{{product}}"></alps-info-chip>
  <mat-form-field>
  <input matInput placeholder="名称" formControlName="name">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="描述" formControlName="description">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="助词码" formControlName="code">
</mat-form-field>

<div>
    <mat-checkbox  formControlName="vendable">可销售</mat-checkbox>
   </div>
  <mat-form-field *ngIf="productSkuForm.controls.vendable.value">
    <input matInput placeholder="商品名称" formControlName="commodityName">
  </mat-form-field>
  <mat-form-field *ngIf="productSkuForm.controls.vendable.value">
    <input matInput placeholder="定价" formControlName="listPrice">
  </mat-form-field>
  <mat-form-field *ngIf="productSkuForm.controls.vendable.value">
    <input matInput placeholder="单位比率" formControlName="quantityRate">
  </mat-form-field>
  <mat-form-field *ngIf="productSkuForm.controls.vendable.value">
    <input matInput placeholder="预售辅助数量" formControlName="preSellAuxiliaryQuantity">
  </mat-form-field>
  <mat-form-field *ngIf="productSkuForm.controls.vendable.value">
    <input matInput placeholder="预售数量" formControlName="preSellQuantity">
  </mat-form-field>

</form>
