<div class="dispatch-car-list">
  <div class="carlist-header">
    <mat-icon class="icon-middle">local_shipping</mat-icon><span class="carlist-header-title">车辆列表</span>
    <button mat-icon-button>
      <mat-icon class="icon-middle">add</mat-icon>
    </button>
  </div>
  <button mat-flat-button class='car-button' [ngClass]="{' mat-primary':car.id==selectedCar}" *ngFor="let car of carList"
    (click)="chooseCar(car.id)">
    {{car.carNumber}}
  </button>
</div>
<div class="dispatch-car-detail">

  <mat-card>
    <mat-card-title>车辆明细</mat-card-title>
    <mat-card-content>
      <div>
        <alps-info-chip label="车号" [value]="carDetail.carNumber"></alps-info-chip>
        <alps-info-chip label="类型" [value]="carDetail.type"></alps-info-chip>
        <alps-info-chip label="状态" [value]="carDetail.status"></alps-info-chip>
      </div>
      <h3>过磅明细</h3>
      <div class="flex-column-container">
        <div class="flex-box flex-row-container">
          <div class="flex-box">
            <alps-info-chip label="毛重" [value]="carDetail.grossWeight"></alps-info-chip>
            <alps-info-chip label="时间" [value]="carDetail.grossWeightTime|date:'MM-dd HH:mm'"></alps-info-chip>
            <alps-info-chip label="司磅" [value]="carDetail.grossWeightOperator"></alps-info-chip>
          </div>
          <div class="flex-box">
            <button mat-stroked-button class="weight-button" (click)="setWeight(1)">磅毛</button>
          </div>
        </div>
        <div class="flex-box flex-row-container">
          <div class="flex-box">
            <alps-info-chip label="毛重" [value]="carDetail.tareWeight"></alps-info-chip>
            <alps-info-chip label="时间" [value]="carDetail.tareWeightTime|date:'MM-dd HH:mm'"></alps-info-chip>
            <alps-info-chip label="司磅" [value]="carDetail.tareWeightOperator"></alps-info-chip>
          </div>
          <div class="flex-box">
            <button mat-stroked-button class="weight-button" (click)="setWeight(0)">磅皮</button>
          </div>
        </div>
        <div class="flex-box flex-row-container">
          <div class="flex-box">
            <alps-info-chip label="净重" [value]="carDetail.grossWeight-carDetail.tareWeight|number"></alps-info-chip>
            <alps-info-chip label="时间" [value]="carDetail.weightConfirmedTime|date:'MM-dd HH:mm'"></alps-info-chip>
            <alps-info-chip label="司磅" [value]="carDetail.weightConfirmedOperator"></alps-info-chip>
          </div>
          <div class="flex-box">
            <button mat-stroked-button class="weight-button">提交</button>
          </div>
        </div>
      </div>
      <h3>开单明细</h3>
      <mat-table #weightListTable [dataSource]="carDetail.vouchers" matSort aria-label="Elements">
        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef mat-sort-header>来源</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.source}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>合计</mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="destination">
          <mat-header-cell *matHeaderCellDef mat-sort-header>去向</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.destination}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="aQuantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>辅数</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.aQuantity}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalAQuantity}}</mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>数量</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.quantity}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalQuantity}}</mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.amount}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef>{{totalAmount}}</mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="operator">
          <mat-header-cell *matHeaderCellDef mat-sort-header>制单人</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.operator}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <a routerLink="../../stock/stockin" [queryParams]="{drID:carDetail.id}">
              <mat-icon>add</mat-icon>
            </a>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a routerLink="../../stock/stockin" [queryParams]="{id:row.id}">
              <mat-icon>edit</mat-icon>
            </a>
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="vouchersColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: vouchersColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="vouchersColumns"></mat-footer-row>
      </mat-table>
    </mat-card-content>
  </mat-card>

  <!-- <mat-table #table [dataSource]="supplierClassDataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
     
      
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <a routerLink="../supplierclassedit" >
            <mat-icon>add</mat-icon>
          </a>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink="../supplierclassedit" [queryParams]="{id:row.id}">
            <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table> -->
</div>