<alps-edit-toolbar (save)="save()"></alps-edit-toolbar>

<form [formGroup]="customerForm">
  <mat-form-field>
    <input matInput placeholder="名称" formControlName="name">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="联系人" formControlName="contact">
    </mat-form-field>
  <ng-container formGroupName="address">
  <alps-menu-selector placeholder="地区" formControlName="countyID" [options]="countyOptions"></alps-menu-selector>
  <mat-form-field>
      <input matInput placeholder="街道" formControlName="street">
    </mat-form-field>
</ng-container>
</form>