.forbid-container {
    min-height: 90vh;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}
.warn-box{
    
    align-content: center;
    justify-content:center;
}