<mat-table #table [dataSource]="positionList" matSort aria-label="Elements">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>仓位名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>仓位号</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.number}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="warehouse">
    <mat-header-cell *matHeaderCellDef mat-sort-header>仓库</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.warehouse}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a routerLink="../stockoutdetail" [queryParams]="{id:row.id}">
        <mat-icon>list</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>