<a routerLink="./">
  所有</a>&gt;&gt;
<span *ngFor="let path of catagoryPath">
  <a routerLink="./" [queryParams]="{id:path.id}">{{path.name}}</a>&gt;&gt;
</span>


<mat-table #table [dataSource]="displayedData" matSort aria-label="Elements">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
      <a routerLink="../edit"  [queryParams]="{'parentID':listID}" >
        <mat-icon>add</mat-icon>
      </a>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a routerLink="./" [queryParams]="{'id':row.id}" *ngIf="!isLeaf">
        <mat-icon>view_list</mat-icon>
      </a>
      &nbsp;
      <a routerLink="../edit" [queryParams]="{id:row.id,parentID:listID}">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>