<div class="register-form-container">
  <form [formGroup]="registerForm" autocomplete="off" enterToTab>
    <!-- <h1>永盛金属ERP</h1> -->
    <mat-card class="register-form">
      <mat-card-title>注册</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input #usernameInput matInput formControlName="username" placeholder="账户名">
        </mat-form-field>
        <mat-form-field>
          <input #usernameInput matInput formControlName="realname" placeholder="真实姓名">
        </mat-form-field>
        <div formGroupName="pass">
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="密码">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="confirmPassword" placeholder="确认密码">
        </mat-form-field>
        <div *ngIf="registerForm.controls.pass.hasError('ConfirmPassword')" class="warn">密码不一致</div>
      </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="action">
          <button mat-flat-button (click)="register()" class="login-btn" color="primary" type="button">注册</button>
          <div class="flex-row-container">
            <div class="flex-box"></div>
            <div class="tip">
              <a [routerLink]="['/login']">已有账户，去登录</a>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>