.alps-commodity-catagory-container
{    
    flex-direction: row;
    display: flex;
    flex-wrap:wrap;
    
}
.alps-commodity-catagory-button{
    min-width: 70px;
    padding: 0 6px;
    margin-bottom: 4px;
    flex: 1px;
}
.alps-commodity-catagory-button-selected{
    color:red;
}
