<mat-form-field>
  <input matInput (keyup.enter)="search($event.target.value)" placeholder="筛选">
</mat-form-field>
<mat-table #table [dataSource]="loanvouchers|async" matSort aria-label="Elements">
  <!-- Id Column -->
  <ng-container matColumnDef="lender">
    <mat-header-cell *matHeaderCellDef mat-sort-header>存款人</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.lender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>存款时间</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.date|date:'yyyy-MM-dd'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="interestRate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>利率</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.interestRate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="interestSettlable">
    <mat-header-cell *matHeaderCellDef mat-sort-header>可结息</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.interestSettlable?'是':'否'}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>

        </mat-header-cell>
    <mat-cell *matCellDef="let row">
      
        <a routerLink="../settleinterest" [queryParams]="{id:row.id}" *ngIf="row.interestSettlable">
          结息
        </a>&nbsp;&nbsp;
      <a routerLink="../withdraw" [queryParams]="{id:row.id}">
       取款
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>