<mat-table #table [dataSource]="stockOutList" matSort aria-label="Elements">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="createTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>时间</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.createTime|date:"yy-MM-dd"}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="destination">
    <mat-header-cell *matHeaderCellDef mat-sort-header>去处</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.destination}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="department">
    <mat-header-cell *matHeaderCellDef mat-sort-header>部门</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.department}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="totalQuantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>数量</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.totalQuantity}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="totalAmount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.totalAmount}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>状态</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a routerLink="../stockout" [queryParams]="{id:row.id}">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>