:host{
    /* width: 100%;
    display: flex;
    flex-direction: row;
    
    min-height: 100%; */
    flex: 1;
    flex-direction: row;
    display: flex;
}
.dispatch-car-list{
    min-width: 60px;
    max-width: 200px;
    width: 20%;
    border-right: 1px solid gray;
}
.dispatch-car-detail{
    flex: 1;
    padding: 5px;
}
.icon-middle{
    vertical-align: middle;
}
.car-button
{
    width:100%;
}