<div class="dispatch-car-list">
  <div class="carlist-header">
    <mat-icon class="icon-middle">local_shipping</mat-icon><span class="carlist-header-title">车辆列表</span>
    <button mat-icon-button>
      <mat-icon class="icon-middle">add</mat-icon>
    </button>
  </div>
  <button mat-stroked-button class='car-button' *ngFor="let car of carList" (click)="chooseCar(car.id)">
    {{car.carNumber}}
  </button>
</div>
<div class="dispatch-car-detail">
  <div>
    <h3>车辆明细</h3>
    <alps-info-chip label="车号" [value]="carDetail.carNumber"></alps-info-chip>
    <alps-info-chip label="类型" [value]="carDetail.type"></alps-info-chip>
    <alps-info-chip label="状态" [value]="carDetail.status"></alps-info-chip>
  </div>
  <div>
    <p>过磅明细</p>

    <alps-info-chip label="车号" [value]="carDetail.carNumber"></alps-info-chip>
    <alps-info-chip label="类型" [value]="carDetail.type"></alps-info-chip>
    <alps-info-chip label="状态" [value]="carDetail.status"></alps-info-chip>
  </div>
  <mat-card>
    <mat-card-title>车辆明细</mat-card-title>
    <mat-card-content>
      <alps-info-chip label="车号" [value]="carDetail.carNumber"></alps-info-chip>
      <alps-info-chip label="类型" [value]="carDetail.type"></alps-info-chip>
      <alps-info-chip label="状态" [value]="carDetail.status"></alps-info-chip>
      <p>过磅明细<button (click)="addWl()">  新磅单</button></p>
      <!-- <div *ngFor="let weightList of carDetail.weightLists">
        <mat-form-field appearance="outline">
            <mat-label>毛重</mat-label>
          <input matInput placeholder="请点击图标读取" [value]="weightList.grossWeight" disabled>
          <mat-icon matSuffix (click)="weightList.grossWeight=getWeight()">local_shipping</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>皮重</mat-label>
            <input matInput placeholder="请点击图标读取" [value]="weightList.tareWeight" disabled>
            <mat-icon matSuffix (click)="weightList.tareWeight=getWeight()">local_shipping</mat-icon>
            </mat-form-field>

      </div> -->
      <mat-table #weightListTable [dataSource]="carDetail.weightLists" matSort aria-label="Elements">
        <!-- Id Column -->
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
        </ng-container> -->
        <!-- Name Column -->
        <ng-container matColumnDef="grossWeight">
          <mat-header-cell *matHeaderCellDef mat-sort-header>毛重</mat-header-cell>
          <mat-cell *matCellDef="let row" class="flex-row-container" >
            {{row.grossWeight}}<div class="flex-box"></div><mat-icon  (click)="row.grossWeight=getWeight()">local_shipping</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tareWeight">
          <mat-header-cell *matHeaderCellDef mat-sort-header>皮重</mat-header-cell>
          <mat-cell *matCellDef="let row" class="flex-row-container" >
            {{row.tareWeight}}<div class="flex-box"></div><mat-icon  (click)="row.tareWeight=getWeight()">local_shipping</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="netWeight">
            <mat-header-cell *matHeaderCellDef mat-sort-header>净重</mat-header-cell>
            <mat-cell *matCellDef="let row" >
                {{row.grossWeight-row.tareWeight}}
            </mat-cell>
          </ng-container>
        <!-- <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <a mat-icon-button routerLink="../catagoryedit" [queryParams]="{'parentID':listID}">
              <mat-icon>add</mat-icon>
            </a>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a mat-icon-button  routerLink="./" [queryParams]="{'id':row.id}" *ngIf="!isLeaf">
              <mat-icon>view_list</mat-icon>
            </a>
            &nbsp;
            <a  mat-icon-button routerLink="../catagoryedit" [queryParams]="{id:row.id,parentID:listID}">
              <mat-icon>edit</mat-icon>
            </a>
          </mat-cell>
        </ng-container> -->
      
        <mat-header-row *matHeaderRowDef="weightListColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: weightListColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
  <!-- <mat-table #table [dataSource]="supplierClassDataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
     
      
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <a routerLink="../supplierclassedit" >
            <mat-icon>add</mat-icon>
          </a>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink="../supplierclassedit" [queryParams]="{id:row.id}">
            <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table> -->
</div>