
  <div class="dispatch-car-list">
    <div class="carlist-header">
      <mat-icon class="icon-middle">local_shipping</mat-icon><span class="carlist-header-title">车辆列表</span>
      <button mat-icon-button>
       <mat-icon class="icon-middle">add</mat-icon></button>
    </div>
      <button mat-stroked-button class='car-button' *ngFor="let car of carList|async" (click)="chooseCar(car.id)">
          {{car.name}}       
</button>
  </div>
  <div class="dispatch-car-detail">
    <mat-card>
        <mat-card-title>车辆明细</mat-card-title>
        <alps-info-chip label="车号" [value]="carDetail.name"></alps-info-chip>
    </mat-card>
    <!-- <mat-table #table [dataSource]="supplierClassDataSource" matSort aria-label="Elements">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
      </ng-container>
     
      
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          <a routerLink="../supplierclassedit" >
            <mat-icon>add</mat-icon>
          </a>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a routerLink="../supplierclassedit" [queryParams]="{id:row.id}">
            <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table> -->
  </div>
