<div>
    存款时间:{{detail.operateTime}}</div>
<div>
    存款人:{{detail.lender}}</div>
<div>
    首存金额:{{detail.depositAmount}}</div>
<div>
    现存金额:{{detail.amount}}</div>
<div>已作废:{{detail.isinvalid?"是":"否"}}</div>
<div><button (click)="printvoucher()">打印利息条</button></div>
<div> <a  routerLink="../settleinterest" [queryParams]="{id:detail.lender}">
        结息
    </a>&nbsp;&nbsp;
    <a *ngIf="detail.amount>0" routerLink="../withdraw" [queryParams]="{id:currentID}">
        取款
    </a> 
</div>
<mat-table #table [dataSource]="this.detail.records" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>时间</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.date|date:'yyyy-MM-dd'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>类型</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>存款人</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>金额</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interestRate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>利率</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.interestRate}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interest">
        <mat-header-cell *matHeaderCellDef mat-sort-header>利息</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.interest}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="isInvalid">
        <mat-header-cell *matHeaderCellDef mat-sort-header>已作废</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.isInvalid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
            操作
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <a *ngIf="!row.isInvalid" (click)="invalidrecord(row.id)">
                作废
            </a>&nbsp;
            <a *ngIf="!row.isInvalid" (click)="printrecord()">
                打印
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>