<div class="login-form-container">
  <div class="login-form">
    <!-- <h1>永盛金属ERP</h1> -->
    <mat-card>
      <mat-card-title>登录</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <span matPrefix>
              <mat-icon>person</mat-icon></span>
            <input matInput formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="password">
            <mat-icon matPrefix>lock</mat-icon>
          </mat-form-field>
          <!-- <mat-form-field>
          <input matInput formControlName="confirmPassword" placeholder="密码确认">
          </mat-form-field> -->
        </form>
        <div color="warn">{{errorMsg}}</div>
      </mat-card-content>
      <mat-card-actions>
        <div class="action">
          <button mat-flat-button (click)="login()" class="login-btn" color="primary">确定</button>
          <div class="flex-container">
            <div><a [routerLink]="['/forgotpassword']">忘记密码?</a></div>
            <div class="flex-div"></div>
            <div>
              <a [routerLink]="['/register']">注册一个账号</a>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>