.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: #092756;
    background: radial-gradient(ellipse farthest-corner at 0% 100%, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(-45deg, #670d10 0%, #092756 100%)
}

.login-form {
    max-width: 400px;
    min-width: 180px;
    width: 90vw;
    background: #e7e7f1;
    border-radius: 5px;
}

mat-form-field {
    width: 100%;
    font-size: 18px;
}

.warn {
    color: red;
}

.login-btn {
    width: 100%;
}

.action {
    margin: 0 auto;
    width: 90%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

.flex-div {
    flex: 1;
}