<mat-table #table [dataSource]="_commodities" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="{{col}}" *ngFor="let col of _commodityColumns|ngForObj">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{_commodityColumns[col]}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[col]}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>操作</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <a routerLink="../commodityedit" [queryParams]="{id:row.id}> -->
        <button mat-icon-button (click)="addToCart(row)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <!-- </a> -->
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="_displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: _displayedColumns;"></mat-row>
  </mat-table>