<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="筛选">
</mat-form-field>
<a mat-stroked-button [routerLink]="[ '../lenderimport' ]">导入</a>
<mat-table #table [dataSource]="lendersDatasource" matSort aria-label="Elements">
  <!-- Id Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>名称</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="idNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header>证件号</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.idNumber}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="mobilePhoneNumber">
    <mat-header-cell *matHeaderCellDef mat-sort-header>手机</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.mobilePhoneNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
      <a routerLink="../lenderedit">
        <mat-icon>add</mat-icon>
      </a>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a routerLink="../lenderedit" [queryParams]="{id:row.id}">
        <mat-icon>edit</mat-icon>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator></mat-paginator>