<alps-info-chip label="用户名" [value]="user.name"></alps-info-chip>
<alps-info-chip label="用户ID" [value]="user.idName"></alps-info-chip>
<mat-selection-list #roles>
    <mat-list-option *ngFor="let role of roleOptions|async" [value]="role.displayValue">
      {{role.displayValue}}
    </mat-list-option>
  </mat-selection-list>


  <div class="action-toolbar">
    <button mat-stroked-button (click)="back()">返回</button>&nbsp;
    <button mat-stroked-button color="primary" (click)="save()">保存</button>
  </div>