<form [formGroup]="depositForm" autocomplete="off" enterToTab>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="存款日期"  formControlName="date" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput [matAutocomplete]="lenderPicker" placeholder="存款人"  formControlName="lenderID" (focusout)="lenderInputOut($event)" >
    <mat-autocomplete #lenderPicker [displayWith]="displayLenderOption" autoActiveFirstOption >
      <mat-option *ngFor="let option of lenderOptions|async" [value]="option">
        {{option.displayValue}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
 <alps-search-selector placeholder="存款人" formControlName="lenderID" [dataSource]="lenderDs|async" autoActiveFirstOption></alps-search-selector>
  <!-- <alps-menu-selector [options]="lenderOptions|async" placeholder="存款人" formControlName="lenderID"></alps-menu-selector> -->
  <mat-form-field>
    <input matInput placeholder="金额" formControlName="amount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="凭证单号" formControlName="voucherNumber">
  </mat-form-field>
  <button mat-button type="button" (click)="confirm()" class="fullwidth">确认</button>
</form>