<div>屏幕宽度：{{cw}}*{{ch}}</div>
<div><button mat-button (click)="initDatabase()">初始化样本数据库</button><button mat-button (click)="clearCache()">清除缓存</button><button mat-button (click)="getPath()">给我答案</button></div>
<div class="grid-container">
  <h1 class="mat-h1">信息面板</h1>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" (click)="removeCard(card)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" *ngIf="card.collapsed">
          <div>FF</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            产品信息
            <button mat-icon-button class="more-button"  (click)="removeCard($event)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>类别数：{{info.catagoryCount}}</div>
          <div>产品数：{{info.productCount}}</div>
          <div>SKU数：{{info.productSkuCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            仓库动态
            <button mat-icon-button class="more-button"  (click)="removeCard($event)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>库存品数：{{info.productStockCount}}</div>
          <div>入库单数：{{info.stockInCount}}</div>
          <div>出库单数：{{info.stockOutCount}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  <mat-grid-tile  colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          订单动态
          <button mat-icon-button class="more-button"  (click)="removeCard($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div>商品总数：{{info.commodityCount}}</div>
        <div>订单总数：{{info.saleOrderCount}}</div>
        <div>确认单数：{{info.saleOrderConfirmCount}}</div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile  colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          资金动态
          <button mat-icon-button class="more-button"  (click)="removeCard($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <!-- <div>商品总数：{{info.commodityCount}}</div>
        <div>订单总数：{{info.saleOrderCount}}</div>
        <div>确认单数：{{info.saleOrderConfirmCount}}</div> -->
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
